<div class="card">
  <div class="inside">
    <div class="title">Oeufs de lump</div>
    <figure class="cover">
      <img
        src="img/recipes/oeufs-de-lump/oeufs-de-lump.webp"
        alt="Illustration oeufs de lump"
      />
      <figcaption class="category">Entrée</figcaption>
    </figure>
    <div class="desc">
      Une crème onctueuse subtilement rosée, mélangeant des œufs de lump, des
      oignons finement hachés et des œufs durs écrasés pour un équilibre parfait
      entre saveurs et textures. Un délice raffiné idéal pour vos entrées
      festives !
    </div>
    <div class="footer">
      <div class="link">VOIR PLUS</div>
      <div class="author">Jonas S.</div>
    </div>
  </div>
</div>
